<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Superhero Details</title>
</head>
<body>
    <h1>Here are the Superheroes details:</h1>
    <ul>

        <li><h2> {{single_hero.name}}</h2></li>
        <li><h2> {{single_hero.alter_ego}}</h2></li>
        <li><h2> {{single_hero.primary_ability}}</h2></li>
        <li><h2> {{single_hero.secondary_ability}}</h2></li>
        <li><h2> {{single_hero.catch_phrase}}</h2></li>
    </ul>
    <a href="{% url 'superheroes:update' single_hero.id %}">Edit {{single_hero.name}}</a>
</body>
</html>